/frontend/LLMTestApp/.vs/LLMTestApp/v17
/frontend/LLMTestApp/LLMTestApp/bin
/frontend/LLMTestApp/LLMTestApp/obj
/frontend/LLMTestApp/.vs/LLMTestApp/DesignTimeBuild
/frontend/LLMTestApp/.vs/LLMTestApp/FileContentIndex
/frontend/LLMTestApp/.vs/ProjectEvaluation
